*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    
}
html,body{
   width: 100%;
   height: 100%; 
   background-color: #F6FAF6;
}
#main{
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 1px;
    background-color: #F6FAF6;
}
#nav{
    margin-top: 30px;
    width: 100%;
    height: 12vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}
#nav h1{
    /* background-color: yellow; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family: monument;
    letter-spacing: -1px;
    position: relative;
}
#nav>h3{
    display: none;
}
#nav h1::after{
    content: "©";
    font-family: Gilroy;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 18%;
    right: 1%;
}
#nav h1::before{
    content: "model management";
    font-family: Gilroy;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #666;
    font-size: 15px;
    position: absolute;
    bottom: 10%;
    right: 12%;
}
#nav h2{
    /* background-color: yellow; */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:2px solid black ;
    font-size: 21px;
    font-weight: 500;
    
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#nav h2:nth-last-child(2){
    width: 28%;
}
#center{
    width: 100%;
    height: 90%;
    padding: 20px 50px;
    /* background-color: red; */
    /* overflow: hidden; */
    position: relative;
}
#content{
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    /* overflow: hidden; */
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
#overlay{
    /* background:transparent; */
    width: 100%;
    height: 52%;
    position: absolute;
    bottom: 0%;
    /* background-color: red; */
    padding: 0 30px;

}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}
#over1 h1{
    color: white;
    font-family: monument;
    font-size: 3.7vw;
    letter-spacing: 2px;
}
#over1>h2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#over2{
    padding: 1.5vw 0;
    border-top: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    width: 100%;
    height: 40vh;
    white-space: nowrap;
    /* background-color: blue; */
    overflow-x: hidden;
    /* flex-wrap: wrap; */
    overflow-y: hidden;

}
#container{
    width: 100%;
    height: 110%;
    display: inline-block;
    margin: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    margin-right:0.6vw;
    height: 70%;
    width: 12%;
    object-fit: cover;
    object-position: 30% 30%;
    border-radius: 50%;
   
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alpha{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#alpha>h1{
    font-size: 1.7vw;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
}
#alpha>a{
    padding: 0.5vw 0.7vw;
    border-radius: 50px;
    /* background-color: yellow; */
    text-decoration: none;
    color: black;
    font-style:italic;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
}
#alpha>a:hover{
    border: 1px solid black;
}
#page2{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}
#page2-part1 >h1{
    position: absolute;
    bottom: -5%;
    font-weight: 800;
    font-size: 1.7vw;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#page2-part2{
    height: 100%;
    width: 46%;
}
#page2-part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    /* object-position: center; */
}
#page2-part2-text{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
#page2-part2-text >p{
    width: 55%;
    /* height: 50%; */
    font-size: 15px;

}
#page3{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    padding: 2vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page3-part1{
    width: 46%;
    height: 100%;
    /* background-color: yellow; */
    position: relative;
    
}
#page3-part1 img{
    width: 100%;
    height: 80%;
    object-fit: cover;

}
#page3-part1 img:nth-child(2){
    width: 90px;
    height: 90px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
#page3-part1>p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;  
    font-weight: bold; 
    font-size: 1.6vw;
}
#page3-part2{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1562572159-4efc207f5aff?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
}
#page4{
    width: 100%;
    height: 100%;
    padding: 2vw 5vw;
}
#page4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#page5{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    padding: 2vw 5vw;
}
#page5>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    /* font-weight: 900; */
    margin-bottom: 30px;
}
.elem {
    height: 15.5vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
  
    transition: all ease 0.7s;
  }
  .elem img {
    height:80px;
    width: 80px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    object-fit: cover;
    object-position: top;
    transition: all ease 0.7s;
  }
  .elem h4 {
    font-family: monument;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
    /* background-color: red; */
  }
  .elem .elem-part2 {
    width: 45%;
    /* background-color: red; */
  }
  
  .elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 500;
  }
  
  .elem-part2 h5 {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
  }
  .elem:nth-last-child(1) img{
        left: 40%;
  }
  .elem:nth-last-child(3) img{
    left: 40%;
}

  .elem:nth-last-child(1){
    border-bottom: 2px solid black;
  }
  .elem:hover img{
    opacity: 1;
    left: 24%;
  }
  #page6{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 2vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page6-part1{
    width: 46%;
    height: 100%;
    /* background-color: yellow; */
}
#page6-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#page6-part2{
    width: 50%;
    height: 100%;
    /* background-color: green; */
}
#page6-part2-text>h1{
    font-size: 1.9vw;
    font-family: monument;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#page6-part2-text>h5{
    font-size: .9vw;
}
#page6-part2-text>p{
    margin-top: 20px;
    font-size: 1vw;
    font-weight: 400;
    width:100%;
}
#page6-part2-text{
    width: 100%;
    height: 40%;
    /* background-color: green; */
}
#page6-part2-images{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
#page6-part2-images img:nth-child(1){
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
#page6-part2-images img:nth-child(2){
    width: 38%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
#page7{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 2vw 5vw;
}
#page7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
#page8{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page8-part1{
    width: 55%;
    height: 100%;
    
}
#page8-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;   
}
#page8-part2{
    width: 40%;
    height: 100%;
    /* background-color: green; */

}
#page8-part2 img{
    width: 100%;
    height: 72%;
    /* background-color: green; */
    object-fit: cover;
    object-position: 10% 10%;
    margin-bottom: 6px;
}
#page8-part2-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

#page8-part2-text p{
   width: 40%;
   font-size: 15px;
}
#marque{
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    margin-right: 16px;
    letter-spacing: 3px;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;    
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#page9{
    width: 100%;
    height: 100%;
    padding: 2vw 5vw;
    display: flex;
    justify-content: space-between;
}
#page9-left{
    width: 16%;
    height: 100%;
    /* background-color: aqua; */
}
#page9-left>h1{
    font-size: 2.7vw;
    font-family: monument;
    text-transform: uppercase;
}

#page9-center{
    width: 40%;
    height: 100%;
    /* background-color: red; */
}
.center-up{
    display: flex;
    width: 100%;
    height: 25%;
    /* background-color: green; */
    gap: 20px;
    
}
.center-up>h4{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    /* padding: 10px 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1vw;   

}
.center-up>p{
    font-size: 1.4vw;
    font-weight: bold;
}
.center-bottom{
    width: 100%;
    height: 75%;
    /* border: 5px solid red; */
}
.center-bottom>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
    object-position: 69% 0%;
}
#page9-right{
    width: 40%;
    height: 100%;
    /* background-color: black; */
}
.right-up{
    width: 100%;
    height: 25%;
    /* background-color: red; */
    display: flex;
    gap: 30px;
}
.right-up>h4{
    /* margin-right: 10px; */
    width: 40px;
    height: 40px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 1vw;
}
.right-up>p{
    font-size: 1.4vw;
    font-weight: bold;
}

.right-bottom{
    width: 100%;
    height: 75%;
}
.right-bottom>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#footer{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#footer-right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    /* background-color: yellow; */
    padding: 1vw 6vw;
    border-right: 2px solid black;
}
#footer-right>h1{
    /* background-color: yellow; */
    font-size: 30px;
    font-family: monument;
    letter-spacing: -1px;
    position: relative;
    width: 30%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-right h1::after{
    content: "©";
    font-family: Gilroy;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: -2%;
    right:-34%;
}
#footer-right h1::before{
    content: "model management";
    font-family: Gilroy;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #666;
    font-size: 13px;
    position: absolute;
    bottom: -2%;
    right: -15%;
}
#footer-right h2{
    /* background-color: yellow; */
    height: 20%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right:2px solid black ; */
    font-size: 27px;
    font-weight: 500;
    
}
#footer-center{
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
    padding: 1vw 6vw;
}
#footer-center h4{
    
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right:2px solid black ; */
    font-size: 20px;
    font-weight: 500;
    
}
#footer-left{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
}
#footer-left-top{
    width: 100%;
    height: 30%;
    border-bottom: 2px solid black;
    padding: 1vw 6vw; 
    display: flex;
    align-items: center;
    justify-content: start;
}
#footer-left-top>h4{
    font-size: 18px;
    font-weight: 500;
}
#footer-left-bottom{
    width: 100%;
    height: 70%;
    padding: 1vw 6vw;
}
#footer-left-btm-icons{
    width: 100%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
#footer-left-btm-icons>i{
   font-size: 1.7vw;
}
#footer-left-bottom>h4{
    font-size: 1.4vw;
    width: 100%;
    /* background-color: red; */
}

@media (max-width:600px){
    #nav h1{
        /* background-color: yellow; */
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-family: monument;
        letter-spacing: -1px;
        position: relative;

    }
    #nav>h3{
        display: block;
    }
    #nav h1::after{
        content: "©";
        font-family: Gilroy;
        font-weight: 400;
        font-size: 20px;
        position: absolute;
        top: 20%;
        right: -16%;
    }
    #nav h1::before{
        content: "model management";
        font-family: Gilroy;
        letter-spacing: 0.1px;
        font-weight: 500;
        color: #666;
        font-size: 7px;
        position: absolute;
        flex-wrap: nowrap;
        bottom: 19%;
        right: -6%;
    }
    #nav h2{
        font-size: 14px;
    }
    #nav h2:nth-last-child(1){
        width: 40%;
    }

    #nav h2:nth-last-child(2){
        display: none;
    }
    #nav h2:nth-last-child(3){
        width: 40%;
        font-size: 13px;
        
    }
    #center{
        height: 50%;
    }
    #over1{
        margin-top: 6.7vw;
    }
    #over1 h1{
        font-size: 3vw;
    }
    #over1>h2{
        width: 40px;
        height: 40px;        
    }
    #over2 h4{
        font-size: 1.5vw;
    }
    #scroll{
        width: 100%;
        height: 20vh;
    }
    #scroll img{
        margin-right:0.4vw;
    }

    #alpha{
        gap: 3vw;
    }
    #alpha>h1{
        font-size: 3vw;
    }
    #alpha>a{
        padding: 0.7vw 0.9vw;
        font-size: 2vw;
    }
    #page2-part1 >h1{
        position: absolute;
        bottom: -3%;
    }
    #page2-part2{
        height: 100%;
        width: 46%;
    }
    #page2-part2-text >p{
        width: 50%;
        /* height: 50%; */
        font-size: 11px;
    }
    #page2-part2-text >h3{
       width: 40%;
       font-size: 15px;
    }
    #page6-part2-text>h1{
        font-size: 3vw;
    }
    #page6-part2-text>h5{
        font-size: 1.7vw;
    }
    #page6-part2-text>p{
        margin-top: 20px;
        font-size: 1.7vw;
    }
    #page8-part2-text h3{
        width: 40%;
        /* background-color: green; */
        font-size: 2vw;

    }
    #page8-part2-text p{
       width: 50%;
       font-size: 1.8vw;
       /* background-color: red; */
    }
    #page9-center{
        width: 40%;
        height: 100%;
        /* background-color: red; */
    }
    .center-up>h4{
        width: 25px;
        height: 25px;
        font-size: 2vw;   
    }
    .center-up>p{
        font-size: 1.7vw;
        font-weight: bold;
    }
    .right-up{
        gap: 20px;
    }
    .right-up>h4{
        width: 25px;
        height: 25px;
        font-size: 2vw;
    }
    .right-up>p{
        width: 70%;
        font-size: 1.7vw;
    }
    #footer-right>h1{
        font-size: 20px;
    }
    #footer-right h1::after{
        content: "©";
        font-family: Gilroy;
        font-weight: 400;
        font-size: 20px;
        position: absolute;
        top: -5%;
        right:-90%;
    }
    #footer-right h1::before{
        font-size: 1.4vw;
        white-space: nowrap;
        bottom: 10%;
        right: -60%;
    }
    #footer-right h2{
        font-size: 2.8vw;
        font-weight: 500;
        
    }
    #footer-center h4{
        height: 20%;
        width: 100%;
        font-size: 2.8vw;
    }
 
    #footer-left-top>h4{
        font-size: 1.8vw;
        white-space: nowrap;
        font-weight: 500;
    }
    #footer-left-btm-icons>i{
       font-size: 3vw;
    }
    #footer-left-bottom>h4{
        font-size: 2vw;
    }

}